{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
    <h1>Home</h1>

    <img src="img/mallorca.jpg" width="500" alt="Bild på Mallorca som jag rest till">

    <p>Mitt namn är Jacob Safar, jag är 25 år och uppvuxen i Stockholm, Sollentuna. Jag jobbar på SAS i arlanda och har gjort det i 6 år med visionerna att en dag utbilda mig vidare, och nu är det äntligen dags att börja studera!</p>

    <p>Jag har alltid varit intresserad av teknik och datorer, jag fick min första dator när jag bara var några år gammal och när jag var ungefär 16 år så byggde jag min första dator, och det är den datorn som jag ska programmera med under utbildningen.</p>

    <p>På fritiden gillar jag att vara aktiv och tränar väldigt mycket på gym, annars gillar jag att umgås med vänner och resa runt.</p>


    <p>Ciao!</p>

{% endblock %}