<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">

<div class="container">
    <a href="/" class="navbar-brand">My page</a>
    <button class="navbar-toggler" type="button"
    data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobile-nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="/report" class="nav-link">Report</a>
            </li>
        </ul>
    </div>
</div>
</nav>